chapter4/idempotent/src/main/mule/idempotent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b8428de-da4d-4613-941c-12521e686915" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="idempotentFlow" doc:id="e0bc6fe9-8aee-4512-a028-65232d2279ec" >
		<http:listener doc:name="Listener" doc:id="dddfdbbc-5af3-4b0a-834f-a0c80e6814b9" config-ref="HTTP_Listener_config" path="test"/>
		<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="63c1de7f-20f0-42fd-9332-00b0e17b50e3" idExpression="#[message.attributes.queryParams.city]"/>
		<logger level="INFO" doc:name="Logger" doc:id="24d32fd6-273e-425c-ad10-8470149b29b4" message="#[message.attributes.queryParams.city]"/>
		<set-payload value="#[message.attributes.queryParams.city]" doc:name="Set Payload" doc:id="5ffca965-0371-41df-b58c-7b30adf5dace" />
	</flow>
</mule>
