chapter6/munit/n/src/main/mule/n.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="38f1abba-4b30-40d1-9bd1-46c261ad15f1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="nFlow" doc:id="d33d1c4c-1507-4018-af9e-36f5506c3cac" >
		<http:listener doc:name="Listener" doc:id="3ee91b3b-cf4d-4095-ad2a-2c983c27bb37" config-ref="HTTP_Listener_config" path="test"/>
		<logger level="INFO" doc:name="Logger" doc:id="ecd21418-afc6-4869-a072-60a8480b091b" message="#[payload]"/>
	</flow>
</mule>
